<a href="https://colab.research.google.com/github/brianjavines/LinearAlgebra/blob/main/Intro_to_Linear_Algebra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Intro to Linear Algebra Demo**

Submitted by: Brian Christian M. Javines

Section: 58020

Submiited to: Ma'am Maria Rizette

In [ ]:
print("Hello CpE Students")

Hello CpE Students

In [ ]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

In [ ]:
b = "sally"
b = int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [ ]:
x = 3
y = "Brian"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 5
A = "Brian"

print(a)
print(A)

5
Brian

In [ ]:
x, y, z = "one", "two", "three"

print(x)
print(y)
print(z)

one
two
three

In [ ]:
x = y = z = "five"

print(x)
print(y)
print(z)

five
five
five

In [ ]:
x = "enjoying"
print("Python programming is "+x)

x = "Python programming is"
y = " enjoying"
print(x+y)

Python programming is enjoying
Python programming is enjoying

In [ ]:
x = 6
y = 7
print(x+y)

13

In [ ]:
x = 5
y = 7
sum=x+y

print(sum)

12

In [ ]:
x = 9
y = 6
x > y

True

In [ ]:
a, b, c = 2, 6, -4
a>b and c>b

False

In [ ]:
x = float(6)
y = 7
x is not y

True